/* * {
	box-sizing: border-box;
	margin: 0;
    border: 0;
    font-family: 'Syne Mono', monospace;

} */
.NavbarItems {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(238, 193, 229, 0.8893905191873589) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	height: 80px;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}
.navbar-logo {
	color: white;
	justify-self: start;
	margin-left: 2rem;
}
.nav-menu {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: end;
	margin-right: 1rem;
	/* margin: 20px; */
}
@media screen and (max-width 960px) {
	.NavbarItems {
		position: relative;
	}
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: absolute;
	}
}
