.details-container {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin: 0 auto;
}
.synopsis {
	width: 500px;
	height: auto;
	border: 2px solid black;
	padding: 20px;
}

@import 'bootstrap/dist/css/bootstrap.min.css';
