/* * {
	margin: 0;
	padding: 0;
	font-family: 'Syne Mono', monospace, sans-serif;
	background-color: thistle;
} */
.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px 20px;
	align-content: center;
	width: 80vw;
	margin: 0 auto;
}
.card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 380px;
}
* {
	margin: 0;
	padding: 0;
	background-color: thistle;
}
.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px 20px;
	align-content: center;
	width: 80vw;
	margin: 0 auto;
}
.card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 380px;
	font-family: 'Syne Mono', monospace, sans-serif;

}
.navbar {
	display: flex;
	justify-items: space-between;
	font-family: 'Syne Mono', monospace, sans-serif;

}
.aboutText {
	display: flex;
	align-content: center;
	width: 80vw;
	margin: 0 auto;
	align-items: center;
	flex-direction: column;
}
.aboutText p{
	border: 2px solid black;
	width: 500px;
	height: auto;
	padding: 20px;

}

@import 'bootstrap/dist/css/bootstrap.min.css';

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*='col-'] {
		width: 100%;
	}
	.card-container {
		grid-template-columns: 1fr;
	}
	.card-container a {
		display: flex;
		/* align-items: center; */
		justify-content: center;
	}
}
